@{
  Layout = "_Layout";
}

<div class="container">

  <h4>This site will help you find number of word occurrences within given sentence.</h4>
  <form action="/count" method="post">
    <label for="input-word">Enter a word:</label>
    <input type="text" name="input-word" id="input-word">

    <label for="input-text">Enter a sentence:</label>
    <input type="text" name="input-text" id="input-text">
    <br>
    <button id="submit" class="btn btn-primary btn-lg" type="submit">Result!</button>
  </form>

  <div id="output">
    @if (Model != null)
    {
      @if (!Model.IsThereAWord())
      {
        <h4>Input for looking word should be alphabetic!</h4>
      }
      else if (Model.GetCount() == 0)
      {
        <h4>Number of occurrences of <span id="countWord">'@Model.GetWord()'</span> in a given sentence is: <span class="count">@Model.GetCount()</span></h4>
      }
      else if (Model.GetCount() == 1)
      {
        <h4>Number of occurrences of <span id="countWord">'@Model.GetWord()'</span> in a given sentence is: <span class="count">@Model.GetCount()</span></h4>
      }
      else if (Model.GetCount() > 1)
      {
        <h4>Number of occurrences of <span id="countWord">'@Model.GetWord()'</span> in a given sentence are: <span class="count">@Model.GetCount()</span></h4>
      }
      <h3><a href="/">Reset</a></h3>
    }
  </div>

</div>
